.venv
.env
etl.py
src/__pycache__/etl.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/__init__.cpython-313.pyc
src/__pycache__/main.cpython-312.pyc
src/extraction/__pycache__/__main__.cpython-312.pyc
src/loading/__pycache__/
src/transformation/__pycache__/
src/utils/__pycache__/__main__.cpython-312.pyc